@{
    <link rel="stylesheet" href="~/css/style-ListaEventos.css" asp-append-version="true" />
    ViewData["Title"] = "Eventos";
}


<main class="container-fluid">
    <!-- Filtro -->
    <div class="accordion">

        <button class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-controls="collapseOne">
            Filtro
        </button>
        <div id="collapseOne"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionExample">
            <div class="accordion-body d-flex">
                <div class="text-center">
                    <h3>Faixa de preço</h3>
                    <p>Abaixo de R$100</p>
                    <p>R$100 - R$200</p>
                    <p>R$200 - R$500</p>
                    <p>Acima de R$500</p>
                    <form action="">
                        <input type="text" class="preco" placeholder="Minímo">
                        <span>-</span>
                        <input type="text" class="preco" placeholder="Máximo">
                    </form>
                </div>
                <div class="text-center">
                    <h3>Data do evento</h3>
                    <p>Todas as datas</p>
                    <p>Hoje</p>
                    <p>Próximos 7 dias</p>
                    <p>Próximos 30 dias</p>
                    <p>Próximos 3 meses</p>
                    <h3>Região</h3>
                    <p><i class="bi bi-pin-map-fill"></i>Proximo de mim</p>
                </div>
                <div class="text-center">
                    <h3>Classificação etária</h3>
                    <p>Todas idades</p>
                    <p>Infantil</p>
                    <p>12 anos ou mais</p>
                    <p>18 anos ou mais</p>
                </div>
                <div class="text-center">
                    <h3>Categorias</h3>
                    <p>Comédia</p>
                    <p>Culturais</p>
                    <p>Cursos e Palestras</p>
                    <p>Esporte</p>
                    <p>Festas</p>
                    <p>Gastronomia</p>
                    <p>Infantil</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Eventos -->

    <div class="card mb-3 cards-home" style="max-width: 540px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="./img/paulatoller-quadrado2-att-eventim-profilepicture.png"
                     class="img-fluid rounded-start"
                     alt="card do evento da turne da Paula Toller" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        PAULA TOLLER - TURNE AMOROSA - TOKIO MARINE HALL
                    </h5>
                    <p class="card-text">
                        A carreira de Paula Toller se funde com a da banda Kid Abelha,
                        um dos maiores fenômenos da música nacional, com mais de 10
                        milhões de discos vendidos, uma imensa...
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 cards-home" style="max-width: 540px">
        <div class="row g-0">
            <div class="col-md-4">
                <a a asp-controller="Home" asp-action="EventoX">
">
                    <img src="./img/9149fe676ac861b5dc5b4a91e05c2725.jpg"
                         class="img-fluid rounded-start"
                         alt="card do evento Iheart music festival" />
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body evento">
                    <a asp-controller="Home" asp-action="EventoX"><h5 class="card-title">iHeart RADIO MUSIC FESTIVAL 2021</h5></a>
                    <p class="card-text">
                        Agora em seu décimo terceiro ano, o iHeartRadio Music Festival anual é um festival de música de dois dias em Las Vegas que apresenta os maiores nomes de hoje - em gêneros e formatos…
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 cards-home" style="max-width: 540px">
        <div class="row g-0">
            <div class="col-md-4">
                <a href="../PaginaEvento/paginaEvento.html">
                    <img src="./img/rc-balneariocamburiu-profile..png"
                         class="img-fluid rounded-start"
                         alt="..." />
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">ROBERTO CARLOS - BALNEÁRIO CAMBORIÚ</h5>
                    <p class="card-text">
                        Roberto Carlos faz show em Balneário de Camboriú e presenteia os
                        fãs com uma noite inesquecível, em Balneário Camboriú.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 cards-home" style="max-width: 540px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="./img/mauriciomanieri-classics-palaciodasartes-eventim-profile.png"
                     class="img-fluid rounded-start"
                     alt="card do evento do Mauricio Manieri" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        MAURICIO MANIERI COM O ESPETÁCULO "CLASSICS"
                    </h5>
                    <p class="card-text">
                        Maurício Manieri apresenta megashow “Classics” no palco do
                        Grande Teatro do Palácio das Artes
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 cards-home" style="max-width: 540px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="./img/RODRIGOTEASER-TOKIOMARINE-EVENTIM-222x222.jpg"
                     class="img-fluid rounded-start"
                     alt="card do evento do Rodrigo Teaser" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        RODRIGO TEASER - TRIBUTO AO REI DO POP - TOKIO MARINE HALL
                    </h5>
                    <p class="card-text">
                        Desde pequeno, Rodrigo Teaser mostrava seu talento excepcional
                        para a arte.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 cards-home" style="max-width: 540px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="./img/embalossabadonoite-palaciodasartes-eventim-profile.jpg"
                     class="img-fluid rounded-start"
                     alt="card do evento embalos de sabado a noite" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        OS EMBALOS DE SÁBADO À NOITE – O MUSICAL
                    </h5>
                    <p class="card-text">
                        No dia 02 de julho de 2023 (domingo), às 19h, o Grande Teatro
                        CEMIG Palácio das Artes será palco do espetáculo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
