<link rel="stylesheet" href="~/css/style-sobre.css" asp-append-version="true" />
@{
    <main>
        <div class="index">
            <div class="titulo-sobre">
                <h1>SOBRE</h1>
            </div>
            <div class="texto-sobre">
                <p>
                    Somos estudantes da Fatec Matão, desenvolvendo o trabalho interdisciplinar do curso de DSM. Temos a intensão de aumentar nossos conhecimentos com este trabalho, visando evoluir e aprender mais sobre a área.
                    Nossa plataforma tem em vista ser intuitiva com acesso seguro nas transações efetuadas dentro do site, facilitar a venda de ingressos para os eventos em nossa região, além de ser compatível com a maioria dos dispositivos.
                </p>
            </div>

            <div class="row text-center container-fluid">
                <div class="col">
                    <img src="~/img/Cleston.jpeg" alt="foto do membro do grupo Cleston" class="foto-sobre" />
                    <div class="Nome">Cleston</div>
                </div>

                <div class="col">
                    <img src="~/img/Pedro.jpeg" alt="foto do membro do grupo Pedro" class="foto-sobre" />
                    <div class="Nome">Pedro</div>
                </div>

                <div class="col">
                    <img src="~/img/Felipe.jpeg" alt="foto do membro do grupo Felipe" class="foto-sobre" />
                    <div class="Nome">Felipe</div>
                </div>

                <div class="col">
                    <img src="~/img/rhian.jpeg" alt="foto do membro do grupo Rhian" class="foto-sobre" />
                    <div class="Nome">Rhian</div>
                </div>
            </div>

        </div>
    </main>
}
