@model Teste1.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}
@{
    <link rel="stylesheet" href="~/css/style-login.css" asp-append-version="true" />

    <main>
        <div class="container">
            <div class="card">
                <div class="Logo">
                    <a href="../Home/index.html">
                        <img src="~/img/logoPreto.svg" alt="EventPlan" class="login-logo" />
                    </a>
                </div>

                <form method="post" asp-action="Login">
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="label-float">
                        <input asp-for="Email" id="labelEmail" class="form-control" placeholder = "" />
                        <label asp-for="Email"  class="control-label">E-mail:</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="label-float">
                        <input asp-for="Senha" type="password" id="senha"  placeholder=" " />
                        <label asp-for="Senha"  class="control-label">Senha:</label>
                        <i id="verSenha" class="fa fa-eye" aria-hidden="true"></i>
                        <span asp-validation-for="Senha" class="text-danger"></span>
                        <a class="Esqueceu" asp-action="AlterarSenha">Esqueceu a senha?</a>
                    </div>

                    <div class="justify-center">
                        <button type="submit" class="botao-login">Login</button>
                    </div>
                </form>

                <div class="justify-center">
                    <a asp-area="" asp-controller="Logins" asp-action="Cadastro">
                        <button class="botao-cadastro">Cadastre-se</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
}
